{% extends "cawas/base.html" %}
{% block extra_head %}
    <script src="/static/js/sliders.js"></script>
{% endblock %}

{% block subheader %}
<div class="col-xs-12 col-md-12 col-lg-12 unpad">
    <div class="subHeader">
        <div class="notifications">
            {% if user.is_authenticated %}
                   <a href="{% url 'menu_view' %}"><span class="glyphicon glyphicon-home GLY-med">
                               </span> &nbsp;Inicio / </a>
                   <a href="{% url 'list_sliders' %}">Sliders</a>
                 <button class="btn btn-lg btn-primary btn-block logOFF" type="button" id="exitBtn" data-toggle="modal" data-target="#myModal">LOG-OUT</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock subheader %}
{% block content %}

<div class="container">
              <div class="row">
                       <!-- left col -->
                       <div class="col-xs-12 col-md-6 col-lg-6 sepTOP-big">
                            <h1>EDITAR Slider</h1>

                            <div class="col-xs-4 col-md-3 col-lg-3">
                                <a href="/sliders/list" class="btn btn-primary btn-block form-control" >Cancelar</a>
                           </div>
                      </div>

              </div>

        </div>

         <!-- hidden form -->
        <div class="container">

            <!-- First Row : Title -->
            <div class="row form-row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="idTit" id="idTit">NUEVO ID: {{vslider.slider_id}}</label>
                        <!-- pegar  acá -->
                        <span class="idLegend">

                        </span>
                    </div>




                </div>
            </div>


            <!-- Last Row : Buttons -->
            <form method="post" action="" name="slider-completeForm" enctype="multipart/form-data"
                  class="content-picker sliderChoose"  id="sliderForm">

                <div class="row form-row">

                        <div class="col-xs-4 col-md-4 col-lg-4 form-group">
                        <div class="form-group has-feedback imgUpload">
                            <label class="label-left" for="ThumbHor" id="ThumbHorTit">Imagen Landscape: *</label>
                            <input type="hidden" id="imgantlandscape" value="{{vslider.image.landscape.name}}" disabled></input>
                            <input type="file" class="form-control" name="ThumbHor" id="ThumbHor" accept="image/*"
                            value="{{ vslider.image.landscape.name }}">
                            <span class="glyphicon form-control-feedback"></span>
                            <img id="imageH" src="{{ imgland }}"/>
                        </div>
                        </div>
                </div>


                <input type="hidden" name="varsToJSON" id="varsToJSON" value="">
            </form>





            <!-- Row 5: Categoría -->
            <div class="row form-row">
               <div class="col-xs-12 col-md-4 col-lg-4">
                   <div class="form-group has-feedback">
                    <label class="label-left" for="typeslider">Tipo de Slider: *</label>

                       <select class="form-control" id="typeslider">
                            <option  value="0"> </option>

                            {% for key, value in vtypes.items %}
                                {% if vslider.media_type == key %}

                                      <option selected id="{{ key }}" value="{{key}}">{{ value }}</option>
                                {% else %}
                                     <option id="{{ key }}" value="{{key}}">{{ value }}</option>
                                {% endif %}
                            {% endfor %}
                     </select>
                     <span class="glyphicon form-control-feedback"></span>
                   </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                   <div class="form-group has-feedback">
                    <label class="label-left" for="devices">Dispositivo: *</label>
                        <select class="form-control" id="devices">
                            <option  value="0"> </option>

                         {% for item in vdevices %}
                            {% if vslider.target_device.id == item.id %}
                             <option selected id="{{ item.id }}" value="{{item.id}}">{{item.name}}</option>
                            {% else %}
                             <option id="{{ item.id }}" value="{{item.id}}">{{item.name}}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                     <span class="glyphicon form-control-feedback"></span>
                   </div>
                </div>
                 <div class="col-xs-12 col-md-4 col-lg-4 form-group">
                    <div class="form-group has-feedback" id="langSelect">
                        <label class="label-left" for="langS">Idioma: *</label>
                        <div class="helpright"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Selecciona el idioma. Cada bloque debe darse de alta en su idioma aunque sea exactamente igual"></span></div>

                        <select type="text" class="form-control" name="canal" id="idiomaSelect">
                            {% for item in vlanguages %}
                                {% if vslider.language.id == item.id %}
                                 <option selected value="{{item.code}}">{{ item.name}}</option>
                                {% else %}
                                  <option  value="{{item.code}}">{{ item.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>

                        <span class="glyphicon form-control-feedback"></span>
                    </div>
                </div>
            </div>


          <div class="row form-row">
              <div class="col-xs-12 col-md-4 col-lg-4">
                   <div class="form-group has-feedback">
                   <label class="label-left" for="slider-select">Asset Asociado: *</label>
                      <select id="slider-select" class="form-control" id="assets">
                           <option id="" value="">vacio </option>
                        {% for item in vassets %}

                          {% if vslider.asset.asset_id == vassets.asset_id %}
                                <option selected id="{{ item.asset_id }}" value="{{ item.asset_id }}">{{ item.asset_id }} </option>
                          {% else %}
                                <option id="{{ item.asset_id }}" value="{{ item.asset_id }}">{{ item.asset_id }} </option>
                          {% endif %}

                        {% endfor %}
                      </select>
                   </div>
              </div>
              <div class="col-xs-12 col-md-4 col-lg-4 form-group inlang">
                       <div class="form-group has-feedback">
                            <div class="helpright"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Al ingresar una fecha, el sistema publicará el bloque en esa fecha."></span></div>
                            <label for="date_blq">Fecha de Publicación (dd-mm-aaaa)</label>
                            <input type="text" class="form-control datePick" name="date_blq" id="date_blq" value="{{ vslider.publish_date|date:'d-m-Y' }}">
                            <span class="glyphicon form-control-feedback"></span>
                       </div>
             </div>
           </div>

          <div class="row form-row">
                      <div class="col-xs-12 col-md-12 col-lg-12 form-group inlang">
                           <div class="form-group has-feedback">
                            <div class="helpright"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                         title="La descripción para los thumbnails mostrará los primeros 50 caracteres. Al ingresar en la slider se verá completa."></span></div>
                            <label class="label-left" for="text">Texto: *</label>
                           <textarea class="form-control" name="text" id="text">{{ vslider.text }}</textarea>
                           <span class="glyphicon form-control-feedback"></span>
                           </div>
                       </div>
          </div>






            <!-- Last Row : Buttons -->
            <form method="post" action="" name="slider-completeForm" enctype="multipart/form-data"
                  class="content-picker sliderChoose" id="sliderForm">
                <input type="hidden" name="varsToJSON" id="varsToJSON" value="">

                <div class="row form-row">
                   <div class="col-xs-4 col-md-4 col-lg-4">
                    </div>

                    <div class="col-xs-4 col-md-4 col-lg-4">
                        <button class="btn btn-primary btn-block form-control" type="button" id="sendBut">Grabar y Publicar</button>
                    </div>
                    <div class="col-xs-4 col-md-4 col-lg-4">
                    </div>
                </div>
            </form>

        </div>

{% endblock content %}