
{% extends "cawas/base.html" %}
{% load staticfiles %}
{% block extra_head %}
 <!--   <script src="/static/js/movie.js"></script> -->
    <script src="/static/js/videotag.js"></script>
    <script src="https://content.jwplatform.com/libraries/8cRCwCjK.js"></script>


    <script>
        var listaTags=[];

          {% for t in tags %}

            listaTags.push({"id":"{{t.tag_id}}", "descripcion":"{{t.tag_id}} - {{ t.name}}"} );

        {% endfor %}


    </script>

 <!--
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>


    <link rel="stylesheet" href="{% static 'css/pqgrid.min.css' %}" />
    <script type="text/javascript" src="{% static 'js/pqgrid.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/themes/office/pqgrid.css' %}" />
-->
{% endblock %}






{% block subheader %}
<div class="col-xs-12 col-md-12 col-lg-12 unpad">
    <div class="subHeader">
        <div class="notifications">
            {% if user.is_authenticated %}
                  <a href="{% url 'menu_view' %}"><span class="glyphicon glyphicon-home GLY-med">
                               </span> &nbsp;Inicio / </a>
                  <a href="{% url 'list_movies' %}">VideoTags</a>

                 <button class="btn btn-lg btn-primary btn-block logOFF" type="button" id="exitBtn" data-toggle="modal" data-target="#myModal">LOG-OUT</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock subheader %}

{% block content %}
<div class="row">
        <div class="col-md-12">

            <div class="col-md-6">
                <div  id="repro1"></div>
            </div>

            <div class="col-xs-12 col-md-6">

                <div class="row">
                    <div class="col-md-3">
                        <h2>ASSET: {{asset_id}} </h2>
                    </div>
                    <div class="col-md-6">
                        <h2><div id="agregartag"class="btn-sm btn-success">
                            <span class="glyphicon glyphicon-plus"> </span>Agregar Tag</div></h2>
                    </div>
                </div>


                <div class="row">
                    <input id="asset_id" type="hidden" value="{{ asset_id }}">
                        <table class="tb-row tb-header" id="tabletags">

                            <thead>

                                <th class="tb-cell">Tag</th>
                                <th class="tb-cell">In-Action</th>
                                <th class="tb-cell">In-Time </th>
                                <th class="tb-cell">Out-Action</th>
                                <th class="tb-cell">Out-Time</th>
                                <th class="tb-cell">Delete</th>

                            </thead>

                            {% for item in registros %}
                                <tr class="tb-row" data="{{item.id}}">
                                    <td class="tb-cell" style="width:450px;">{{ item.tag.tag_id }} - {{ item.tag.name }}</td>
                                    <td class="tb-cell"><button class="btn-sm btn-default" disabled data-id="" name="btnin"><span class="glyphicon glyphicon-play"> </span> In</button></td>
                                    <td data-id="'+indexrow+'" name="inputin" class="tb-cell" data="{{item.tc_in}}"></td>
                                    <td class="tb-cell"><button data-id="" disabled class="btn-sm btn-default" name="btnout"><span class="glyphicon glyphicon-stop"> </span> Out</button></td>
                                    <td data-id="'+indexrow+'" name="inputout" class="tb-cell" data="{{item.tc_out}}"></td>
                                    <td class="tb-cell"><button data="{{item.id}}"  name="btndelete" class="btn-md btn-danger" ><span class="glyphicon glyphicon-trash"></span>Del  </button></td>
                                </tr>
                            {% endfor %}
                        </table>
                </div>
        </div>


            </div>
</div>









{% endblock content %}
