{% extends "cawas/base.html" %}
{% block extra_head %}
    <script src="/static/js/tags.js"></script>
{% endblock %}

{% block subheader %}
<div class="col-xs-12 col-md-12 col-lg-12 unpad">
    <div class="subHeader">
        <div class="notifications">
            {% if user.is_authenticated %}

                   <a href="{% url 'menu_view' %}"><span class="glyphicon glyphicon-home GLY-med">
                               </span> &nbsp;Inicio / </a>
                  <a href="{% url 'list_tags' %}">Tags</a>

                 <button class="btn btn-lg btn-primary btn-block logOFF" type="button" id="exitBtn" data-toggle="modal" data-target="#myModal">LOG-OUT</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock subheader %}
{% block content %}

         <!-- hidden form -->
        <div class="container">
        
             <div class="row">
                   <!-- left col -->
                   <div class="col-xs-12 col-md-6 col-lg-6 sepTOP-big">
                       <div class="col-xs-12 col-md-12 col-lg-12">
                        <h1>Nuevo Tag</h1>
                       </div>
                       <div class="col-xs-4 col-md-3 col-lg-3">
                            <a href="/tags" class="btn btn-primary btn-block form-control" >Cancelar</a>
                       </div>
                   </div>
              </div>


            <form action="/tags/add/" method="POST">
                <!-- First Row : Title -->
                <div class="row form-row">
                    <div class="col-xs-12 col-md-12 col-lg-12">


                        <div class="col-xs-12 col-md-6">
                            <div class="form-group has-feedback">
                                <input type="hidden" name="newID" value="">
                                <label class="label-left" for="nombre">Nombre: *</label>
                                <input type="text" class="form-control" name="nombre" id="nombre" value="{{item.name}}" required autofocus>
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group has-feedback">
                                <label class="label-left" for="tag_id" >Tag ID: {{item.tag_id}}</label>
                                <input type="hidden" class="form-control"   name="tag_id" id="tag_id" value="{{item.tag_id}}" required autofocus><span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>

                    </div>
                </div>
            




            
            <!--  9 : Idioma -->


            <!-- LANGUAGE modules -->

                <div class="row form-row" id="idioma_es" >
                    <div class="col-xs-12 col-md-12 col-lg-12 form-group">
                        <h2>Español</h2>
                           <div class="col-xs-12 col-md-12 col-lg-12 form-group ">
                               <div class="form-group has-feedback">
                                <label class="label-left" for="nombre_es">Nombre: *</label>
                                <input type="text" class="form-control" name="nombre_es" id="nombre_es"  value="{{item_metadata_es.name}}">
                                <span class="glyphicon form-control-feedback"></span>
                               </div>
                           </div>
                    </div>
                </div>

                <div class="row form-row" id="idioma_pt">
                    <div class="col-xs-12 col-md-12 col-lg-12 form-group">
                        <h2>Portugues</h2>
                           <div class="col-xs-12 col-md-12 col-lg-12 form-group ">
                               <div class="form-group has-feedback">
                                <label class="label-left" for="nombre_pt">Nombre: *</label>
                                <input type="text" class="form-control" name="nombre_pt" id="nombre_pt" value="{{item_metadata_pt.name}}">
                                <span class="glyphicon form-control-feedback"></span>
                               </div>
                           </div>
                    </div>
                </div>


            </form>
            <!-- Last Row : Buttons -->
            <div class="row form-row">
                <div class="col-xs-offset-2 col-xs-4 col-md-4 col-lg-4 ">
                    <button class="btn btn-primary btn-block form-control" id="btngrabar">Guardar</button>
                </div>

                <div class="col-xs-4 col-md-4 col-lg-4">
                    <button class="btn btn-primary btn-block form-control" type="submit" id="btnguardarotro">Guardar y Continuar Carga</button>
                </div>

            </div>

        
        </div>

{% endblock content %}