{% extends "cawas/base.html" %}
{% block extra_head %}
    <script src="/static/js/capitulos.js"></script>
{% endblock %}

{% block subheader %}
<div class="col-xs-12 col-md-12 col-lg-12 unpad">
    <div class="subHeader">
        <div class="notifications">
            {% if user.is_authenticated %}
                   <a href="{% url 'menu_view' %}"><span class="glyphicon glyphicon-home GLY-med">
                               </span> &nbsp;Inicio / </a>
                   <a href="{% url 'list_episodes' %}">Capitulos</a>

                 <button class="btn btn-lg btn-primary btn-block logOFF" type="button" id="exitBtn" data-toggle="modal" data-target="#myModal">LOG-OUT</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock subheader %}

{% block content %}

<!-- CONTENT -->
         <!-- CONTENT -->
        <div class="container">

            <div class="row">

               <div class="col-xs-12 col-md-6 col-lg-6 sepTOP-big">
                    <h1>Editar capítulo</h1>
                    <div>
                        <h3>Edita los campos necesarios y presiona el botón EDITAR</h3>
                    </div>
                    <div class="col-xs-4 col-md-3 col-lg-3">
                        <a href="/episodes/list" class="btn btn-primary btn-block form-control" >Cancelar</a>
                   </div>
               </div>
                <div  id="repro1">
                   <video width="400" controls class="fRIGHT">
                      <source src="" type=video/mp4 id="videomp4">
                   </video>
                </div>
            </div>

        </div>
       <div class="container" >


                <!-- 1 Row : Title -->
                <div class="row form-row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="orginalTitle" id="idTit">ID:</label>
                        </div>
                        <div class="form-group has-feedback" id="oriTit-container">
                            <label class="label-left" for="orginalTitle">Título original: *</label>
                            <input type="text" class="form-control"
                                   value="{{ vepisode.original_title }}" name="orginalTitle" id="orginalTitle" autofocus>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                        <!-- pegar en "value" el ID -->
                        <input type="hidden" id="asset_id" name="asset_id" value="{{ vepisode.asset.asset_id }}">
                    </div>
                </div>

                <!-- Row : Serie -->
                <div class="row form-row">
                    <div class="col-xs-12 col-md-4 col-lg-4" id="seriess">
                        <div class="form-group has-feedback" id="SeriePick">
                            <label class="label-left" for="serie_id">Elegir Serie a la que pertenece: *</label>
                               <select type="text" id="serie-id" class="form-control movie-edit" size="6" disabled>
                                    {% for item in vseries %}

                                        {% if vepisode.serie_id == item.id %}
                                            <option value="{{item.asset.asset_id}}" selected>{{item.original_title}}</option>
                                        {% else %}
                                            <option value="{{item.asset.asset_id}}">{{item.original_title}}</option>
                                        {% endif %}
                                   {% endfor %}
                                </select>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-3 col-lg-3 form-group">
                            <div class="form-group has-feedback">
                                <label class="label-left" for="chapter">Número de capítulo: *</label>
                                <input type="number" class="form-control" name="chapter"
                                       id="chapter" min="000" max="999" oninput="maxLengthCheck(this)"
                                        value="{{ vepisode.chapter }}">
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                    </div>

                    <div class="col-xs-12 col-md-3 col-lg-3 form-group">
                            <div class="form-group has-feedback">
                                <label class="label-left" for="season">Temporada: *</label>
                                <input type="number" class="form-control" name="season"
                                       id="season" min="000" max="999" oninput="maxLengthCheck(this)"
                                       value="{{ vepisode.season }}" >
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                    </div>

                </div>
                <!-- Form manda imagenes y vars en un JSON hecho string -->
                <form method="post" action="" name="serie-completeForm"  class="content-picker movieChoose" id="serieForm" enctype="multipart/form-data">

                <!-- Row : Images -->
                <div class="row form-row">
                    <div class="col-xs-4 col-md-4 col-lg-4 form-group">
                       <div class="form-group has-feedback imgUpload">
                            <label class="label-left" for="ThumbHor" id="ThumbHorTit">Asociar imagen landscape: *</label>
                            <input type="hidden" id="imgantlandscape" value="{{vepisode.image.landscape.name}}" disabled></input>
                            <input type="file" class="form-control" name="ThumbHor" id="ThumbHor" accept="image/*"
                                value="{{ vepisode.image.landscape.name }}">

                            <span class="glyphicon form-control-feedback"></span>
                            <img id="imageH" src="{{ imgland }}"/>
                        </div>
                    </div>

                    <div class="col-xs-4 col-md-4 col-lg-4 form-group" >
                       <div class="form-group has-feedback imgUpload">
                            <label for="ThumbVer" id="ThumbVerTit">Asociar imagen portrait: *</label>
                            <input type="file" class="form-control" name="ThumbVer" id="ThumbVer" accept="image/*"
                                value="{{ vmovie.image.portrait.name }}">
                            <input type="hidden" id="imgantportrait" value="{{vepisode.image.portrait.name}}" disabled></input>
                            <span class="glyphicon form-control-feedback"></span>
                            <img id="imageV" src="{{ imgport }}"/>


                        </div>
                    </div>
                    <div class="col-xs-4 col-md-4 col-lg-4">
                    </div>
                </div>

                <input type="hidden" name="varsToJSON" id="varsToJSON" value="">

               </form>





<!-- Seleccion de categoria -->
<div class="row">

    <div class="col-xs-5">
    <label>Chicas</label>
        <select name="from[]" id="search_girls" class="form-control searchmultiple" size="10" multiple="multiple">

            <optgroup label="Chicas">
             {% for item in vgirlnotselected %}
                 <option value="{{item.id}}">{{item.name}} </option>
             {% endfor %}
            </optgroup>

        </select>
    </div>

    <div class="col-xs-2">
        <button type="button" id="search_girls_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
        <button type="button" id="search_girls_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button type="button" id="search_girls_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button type="button" id="search_girls_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
    </div>

    <div class="col-xs-5">
    <label>Chicas</label>
        <select name="to[]" id="search_girls_to" class="form-control searchmultiple" size="10" multiple="multiple">
         <optgroup label="Chicas">
            {% for item in vgirlselected %}
                 <option value="{{item.id}}">{{item.name}} </option>
         {% endfor %}

        </select>
    </div>
</div>
<br>
<br>


<div class="row">
    <div class="col-xs-5">
    <label>Categorias</label>
        <select name="from[]" id="search_category" class="form-control searchmultiple" size="10" multiple="multiple">

            <optgroup label="Categorias">
              {% for item in vcategorynotselected %}
                 <option value="{{item.id}}">{{item.original_name}} </option>
             {% endfor %}
            </optgroup>

        </select>
    </div>

    <div class="col-xs-2">
        <button type="button" id="search_category_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
        <button type="button" id="search_category_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button type="button" id="search_category_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button type="button" id="search_category_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
    </div>

    <div class="col-xs-5">
    <label>Categorias</label>

        <select name="to[]" id="search_category_to" class="form-control searchmultiple" size="10" multiple="multiple">
         <optgroup label="Categorias">
            {% for item in vcategoryselected %}
                 <option value="{{item.id}}">{{item.original_name}}</option>
            {% endfor %}
         </optgroup>
        </select>
    </div>
</div>






                <!-- Row : Canal pick -->
                <div class="row form-row">
                    <div class="col-xs-12 col-md-4 col-lg-4 form-group">
                        <div class="form-group has-feedback" id="channelSelect">
                            <label class="label-left" for="canal">Canal: *</label>
                            <div class="helpright"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Selecciona el canal al que pertenece esta movie (ej: Venus)"></span></div>

                            <!-- ------------------Reemplazar por listado de canales ----------------- -->

                            <select type="text" class="form-control" name="canal" id="canalSelect">
                                 {% for item in vchannels %}
                                    {% if vepisode.channel_id == item.id %}
                                        <option value="{{item.id}}" selected>{{item.name}}</option>
                                    {% else %}
                                        <option value="{{item.id}}">{{item.name}}</option>
                                    {% endif %}
                                 {% endfor %}
                            </select>

                            <!-- -------  --------  Fin de listado de canales  ---  -------------->
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4 col-lg-4 form-group">
                        <div class="form-group has-feedback">
                            <label class="label-left" for="releaseYear">Año de estreno (AAAA): *</label>
                            <input type="number" class="form-control" name="releaseYear"
                                   value="{{vepisode.year}}"
                                   id="releaseYear" min="1890" max="2300" oninput="maxLengthCheck(this)" >
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4 col-lg-4 form-group">
                        <div class="form-group has-feedback">
                            <label class="label-left" for="releaseYear">Display runtime (mm:ss): *</label>
                            <input type="text" class="form-control" name="runtime" id="runtime" autofocus
                                   value="{{vepisode.display_runtime}}">
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>

                </div>


                <!-- Row : Director pick -->
                <div class="row form-row">
                    <div class="col-xs-12 col-md-12 col-lg-12 form-group">
                        <div class="form-group has-feedback">
                            <label class="label-left" for="director">Director: </label>
                            <input type="text" class="form-control" name="director"
                                   value="{{vepisode.directors}}"
                                   id="director" autofocus>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                </div>



                <!-- Row : Elenco -->
                <div class="row form-row">
                    <div class="col-xs-12 col-md-12 col-lg-12 form-group">
                        <div class="form-group has-feedback">
                            <label class="label-left" for="elenco">Elenco: </label>
                            <div class="helpright"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Agregar los nombres del elenco completo separados por comas.La lista NO debe terminar con una coma"></span></div>
                            <div class="itaright">(Nombres separados por comas). </div>
                            <input type="text" class="form-control"
                                   value="{{vepisode.cast}}"
                                   name="elenco" id="elenco" autofocus>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                </div>



                <!--  9 : Idioma -->
                <div class="row form-row">
                    <div class="col-xs-12 col-md-3 col-lg-3 form-group">
                        <div class="form-group has-feedback" id="lang-container">
                            <div id="pickLang">
                                <label class="label-left" for="idioms">Elija idioma: (al menos uno)*</label>

                            </div>
                            <span class="glyphicon form-control-feedback"></span>
                            <div class="form-group has-feedback">
                                {% for item in vlangmetadata %}
                                    {% if item.checked == True %}
                                         <input type="checkbox" checked name="idioma" value="{{item.code}}" id="{{item.code}}"
                                               class="chkbx" disabled> {{item.name}}<br>
                                    {% else %}
                                        <input type="checkbox"  name="idioma" value="{{item.code}}" id="{{item.code}}"
                                               class="chkbx" > {{item.name}}<br>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>



                <!-- LANGUAGE modules -->
               {% for item in vlangmetadata %}
               {% if item.checked == True %}
                     <div class="row form-row" id="Module_{{item.code}}">
               {% else %}
                     <div class="row form-row hid" id="Module_{{item.code}}">
               {% endif %}
                    <div class="col-xs-12 col-md-12 col-lg-12 form-group">
                        <h2>{{ item.name }}</h2>
                           <div class="col-xs-12 col-md-12 col-lg-12 form-group inlang">
                               <div class="form-group has-feedback">
                                <label class="label-left" for="tit_{{item.code}}">Título: *</label>
                                <input type="text" class="form-control" name="tit_{{item.code}}" id="tit_{{item.code}}"
                                       value="{{ item.title }}">
                                <span class="glyphicon form-control-feedback"></span>
                               </div>
                           </div>

                           <div class="col-xs-12 col-md-12 col-lg-12 form-group inlang">
                               <div class="form-group has-feedback">
                                    <div class="helpright"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                    title="La descripción para los thumbnails mostrará los primeros 50 caracteres. Al ingresar en la movie se verá completa."></span></div>
                                    <label class="label-left" for="short_desc_{{item.code }}">Descripción: *</label>
                                    <textarea  class="form-control" name="short_desc_{{item.code}}" id="short_desc_{{item.code}}"
                                    value="{{item.summary_long}}">{{item.summary_long}}</textarea>
                                    <span class="glyphicon form-control-feedback"></span>
                               </div>
                           </div>

                           <div class="col-xs-12 col-md-12 col-lg-12 form-group inlang">
                               <div class="form-group has-feedback">
                                    <div class="helpright"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Al ingresar una fecha, el sistema publicará la movie en español en esa fecha."></span></div>
                                    <label class="label-left" for="date_{{item.code}}">Fecha de Publicación</label>
                                    <input type="text" class="form-control datePick"
                                           name="date_{{item.code}}" id="date_{{item.code}}"
                                           value="{{ item.publish_date|date:'d-m-Y' }}">


                                    <span class="glyphicon form-control-feedback"></span>
                               </div>
                           </div>

                    </div>
                </div>
                {% endfor %}

                <!-- Last Row : Buttons -->
                <div class="row form-row">
                    <div class="col-xs-offset-2 col-xs-4 col-md-4 col-lg-4 ">
                        <button class="btn btn-primary btn-block form-control" type="submit" id="sendBut">Grabar y Publicar</button>
                    </div>
                </div>

        </div>
       </div>
{% endblock content %}