{% extends "cawas/base.html" %}

{% block extra_head %}
    <script src="/static/js/capitulos.js"></script>
{% endblock %}

{% block subheader %}
<div class="col-xs-12 col-md-12 col-lg-12 unpad">
    <div class="subHeader">
        <div class="notifications">
            {% if user.is_authenticated %}
                  <a href="{% url 'menu_view' %}"><span class="glyphicon glyphicon-home GLY-med">
                               </span> &nbsp;Inicio</a>
                 <button class="btn btn-lg btn-primary btn-block logOFF" type="button" id="exitBtn" data-toggle="modal" data-target="#myModal">LOG-OUT</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock subheader %}

{% block content %}
<!-- CONTENT -->
        <div class="container">
            <!-- First Row -->
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                       <h2>Listado de Episodios </h2>
                      <h3>Nueva búsqueda </h3>
                  </div>
              </div>

            <!-- Filtros -->

           <!-- Filtros Row -->
              <div class="row">
                  <form method="post" action="" name="searchForID"
                              id="searchForID" enctype="multipart/form-data">
                  <div class="col-lg-4 col-md-4 col-sm-4">


                            <div class="col-xs-12 col-md-2 col-lg-2 ">
                                 Por <span class="boldIt">Título</span>
                            </div>

                            <div class="col-xs-11 col-md-9 col-lg-9 ">
                                <div>
                                    <input type="text" class="form-control fLEFT top6"
                                           id="inputTitulo" placeholder="Ingresar un texto..." name="inputTitulo" required>
                                </div>
                            </div>


                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4">
                         <div class="col-xs-12 col-md-2 col-lg-2 ">
                                Por <span class="boldIt">Status</span>
                         </div>
                         <div class="col-xs-12 col-md-8 col-lg-8 ">
                            <select id="selectestado" name="selectestado" class="form-control top6">
                               <option value=""></option>
                               <option value="1">Publicadas</option>
                               <option value="0">Sin publicar</option>
                            </select>

                        </div>
                        <div class="col-xs-1 col-md-1 col-lg-1">
                            <span name="btnsearch" id="btnsearch"class="glyphicon glyphicon-search GLY-search fRIGHT top6" id="glyID"> </span>
                       </div>
                  </div>
                </form>
              </div>
            <!-- Fin de Filtros -->

            <div class="row">

                <br>
                 <div class="col-lg-2 col-md-2 col-sm-2" >
                     <a href="/episodes/add" class="btn btn-lg btn-primary btn-block logOFF" >Nuevo</a>
                 </div>

                 <div class="col-lg-8 col-md-8 col-sm-8" >

                  </div>
                <div class="col-lg-2 col-md-2 col-sm-2" >
                    <div class="pagination">
                            <span class="step-links">
                                {% if registros.has_previous %}
                                   <b> <a href="?page={{ registros.previous_page_number }}"> << </a></b>
                                {% endif %}

                                <span class="current">
                                    Page {{ registros.number }} of {{ registros.paginator.num_pages }}.
                                </span>

                                {% if registros.has_next %}
                                    <b><a href="?page={{ registros.next_page_number }}"> >> </a></b>
                                {% endif %}
                            </span>
                        </div>
                     </div>
            </div>

            <!-- Fin de Filtros -->

            <!-- GRID row -->
            <div class="row">

                <div class="table">
                    <div class="tb-row tb-header">
                        <div class="tb-cell">ID</div>
                        <div class="tb-cell">Título</div>
                        <div class="tb-cell">Idioma</div>
                        <div class="tb-cell">Estado</div>
                        <div class="tb-cell">Activado</div>
                        <div class="tb-cell">En Cola de Pub.</div>
                        <div class="tb-cell">Fec. Publicación</div>
                        <div class="tb-cell">Acciones</div>
                        {% if usuario.is_superuser == true %}
                            <div class="tb-cell"></div>
                        {% endif %}
                        <div class="tb-cell"></div>
                    </div>

                     {% for item in registros %}
                        <div class="tb-row">
                           <div class="tb-cell">
                                <input type="checkbox" id="{{ item.episode.asset.asset_id}}" value="{{ item.episode.asset.asset_id}}"> {{ item.episode.asset.asset_id}}
                            </div>

                            <div class="tb-cell">{{ item.title }}</div>
                            <div class="tb-cell">{{ item.language.name }}</div>
                            {% if item.publish_status == 0  %}
                                <div class="tb-cell">Sin Publicar</div>
                            {% else %}
                                <div class="tb-cell">Publicado</div>
                            {% endif %}

                            {% if item.activated == 0  %}
                                <div class="tb-cell">NO</div>
                            {% else %}
                                <div class="tb-cell">SI</div>
                            {% endif %}

                            <div class="tb-cell">
                                {% if item.queue_status == 'Q'  %}
                                    Queued
                                {% elif item.queue_status == 'D' %}
                                    Done
                                {% elif item.queue_status == 'E' %}
                                    Error
                                {% endif %}
                            </div>

                            <div class="tb-cell">{{ item.publish_date|date:'d-m-Y' }}</div>

                            <div class="tb-cell"><a href="/episodes/edit/{{ item.episode.asset.asset_id}}" class="btn-info btn tb-btn" >Editar</a></div>
                            {% if usuario.is_superuser == true %}
                                <div class="tb-cell"><a href="/episodes/delete/{{ item.episode.asset.asset_id}}" class="btn-danger btn tb-btn eliminar">Borrar</a></div>
                            {% endif %}

                           {% if item.activated == 0  %}
                               <div class="tb-cell"><a href="/episodes/publish/{{ item.id}}"class="btn-success btn tb-btn publicar">Publicar</a></div>
                                 {% else %}
                              <div class="tb-cell"><a href="/episodes/unpublish/{{ item.id}}"class="btn-warning btn tb-btn desactivar">Desactivar</a></div>
                           {% endif %}

                        </div>


                    {% endfor %}
                </div>
            </div>
            <!-- end of GRID row -->

            <div class="fNONE"></div>
        </div>
{% endblock content %}
