{% extends "cawas/base.html" %}

{% block extra_head %}
    <script src="/static/js/bloques.js"></script>
{% endblock %}

{% block subheader %}
<div class="col-xs-12 col-md-12 col-lg-12 unpad">
    <div class="subHeader">
        <div class="notifications">
            {% if user.is_authenticated %}
                   <a href="{% url 'menu_view' %}"><span class="glyphicon glyphicon-home GLY-med">
                               </span> &nbsp;Inicio / </a>
                  <a href="{% url 'list_blocks' %}">Bloques</a>

                 <button class="btn btn-lg btn-primary btn-block logOFF" type="button" id="exitBtn" data-toggle="modal" data-target="#myModal">LOG-OUT</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock subheader %}

{% block content %}
        <div class="container">

              <div class="row">

                       <!-- left col -->
                       <div class="col-xs-12 col-md-6 col-lg-6 sepTOP-big">
                           <div class="col-xs-12 col-md-12 col-lg-12">
                            <h1>Editar bloque</h1>
                           </div>
                           <div class="col-xs-4 col-md-3 col-lg-3">
                                <a href="/blocks/list" class="btn btn-primary btn-block form-control" >Cancelar</a>
                           </div>
                       </div>


              </div>

        </div>

         <!-- hidden form -->
        <div class="container">



            <!-- First Row : Title -->
            <div class="row form-row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="orginalTitle" id="idTit">ID: {{ vblock.block_id }}</label>
                        <input type="hidden" id="block_id" name="block_id" value="{{ vblock.block_id }}"/>
                        <!-- pegar  acá -->
                        <span class="idLegend">

                        </span>
                    </div>
                    <div class="form-group has-feedback">


                        <!-- pegar en "value" el ID nuevo -->
                        <input type="hidden" name="newID" vlaue="" id="newID">
                        <label class="label-left" for="orginalName">Nombre: *</label>
                        <input type="text" class="form-control" name="orginalName" id="orginalName"
                               value ="{{ vblock.name }}" required autofocus><span class="glyphicon form-control-feedback"></span>
                    </div>
                </div>
            </div>

            <!-- Form manda imagenes y vars en un JSON hecho string -->
                <form method="post" action="" name="asset-completeForm"  class="content-picker movieChoose" id="assetForm" enctype="multipart/form-data">


                <input type="hidden" name="varsToJSON" id="varsToJSON" value="">

               </form>


            <!-- Row 2: Canal & fecha publicación -->
            <div class="row form-row">

                   <div class="col-xs-12 col-md-4 col-lg-4 form-group">
                        <div class="form-group has-feedback" id="langSelect">
                            <label class="label-left" for="langS">Idioma: *</label>
                            <div class="helpright"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Selecciona el idioma. Cada bloque debe darse de alta en su idioma aunque sea exactamente igual"></span></div>

                            <select type="text" class="form-control" name="canal" id="idiomaSelect">
                                {% for item in vlanguages %}
                                    {% if vblock.language_id == item.id %}
                                        <option value="{{item.code}}" selected>{{item.name}}</option>
                                    {% else %}
                                        <option value="{{item.code}}">{{item.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>

                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>



                    <div class="col-xs-12 col-md-4 col-lg-4 form-group">
                        <div class="form-group has-feedback" id="channelSelect">
                            <label for="canal">Canal: </label>
                            <div class="helpright"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Selecciona el canal al que pertenece esta movie (ej: Venus)"></span></div>

                            <!-- ------------------Reemplazar por listado de canales ----------------- -->

                            <select type="text" class="form-control" name="canal" id="canalSelect">
                                <option value=""></option>
                                {% for item in vchannels %}
                                    {% if vblock.channel_id == item.id %}
                                        <option value="{{item.id}}" selected>{{item.name}}</option>
                                    {% else %}
                                        <option value="{{item.id}}">{{item.name}}</option>
                                    {% endif %}
                                {% endfor %}

                            </select>

                            <!-- ------------------  Fin de listado de canales  ----------------- -->
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4 col-lg-4 form-group inlang">
                               <div class="form-group has-feedback">
                                    <div class="helpright"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Al ingresar una fecha, el sistema publicará el bloque en esa fecha."></span></div>
                                    <label for="date_blq">Fecha de Publicación (dd-mm-aaaa)</label>
                                    <input type="text" class="form-control datePick" name="date_blq" id="date_blq"
                                        value="{{ vblock.publish_date|date:'d-m-Y' }}">
                                    <span class="glyphicon form-control-feedback"></span>
                               </div>

                    </div>

            </div>
            <!--  Row 3 : Devices -->
                <div class="row form-row">
                    <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                        <div class="form-group has-feedback" id="channelSelect">
                            <label class="label-left" for="device">Dispositivo: *</label>
                            <div class="helpright">
                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Seleccione en qué dispositivo debe mostrarse el bloque">

                                </span>
                            </div>

                            <select type="text" class="form-control" name="device" id="deviceSelect">
                                {% for item in vdevices %}
                                    {% if vblock.target_device_id == item.id %}
                                        <option value="{{item.id}}" selected>{{item.name}}</option>
                                    {% else %}
                                        <option value="{{item.id}}">{{item.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>

                            <!-- ------------------  Fin de listado de dispositivos  ----------------- -->
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                     <div class="col-xs-12 col-md-4 col-lg-4 form-group">
                        <div class="form-group has-feedback">
                            <label class="label-left" for="order">Nro de Orden: * </label>
                            <input type="number" value="{{vblock.order}}" class="form-control" name="order" id="order" min="1" max="999" oninput="maxLengthCheck(this)" >
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                </div>

            <!-- Assets modules -->

<div class="row">
    <div class="col-xs-5">
        <select name="from[]" id="search" class="form-control searchmultiple" size="20" multiple="multiple">
        <optgroup label="Chicas">
             {% for item in vgirlnotselect %}
                             <option value="{{item.asset.asset_id}}">{{ item.asset.asset_id }} - {{   item.name }}</option>
             {% endfor %}
        </optgroup>
        <optgroup label="Movies">
       {% for item in vmovienotselect %}
             <option value="{{item.asset.asset_id}}" id="{{item.asset.asset_id}}">{{ item.asset.asset_id }} - {{ item.original_title }}</option>
        {% endfor %}
        </optgroup>
        <optgroup label="Series">
            {% for item in vserienotselect %}
             <option value="{{item.asset.asset_id}}" id="{{item.asset.asset_id}}">{{ item.original_title }}</option>
            {% endfor %}
        </optgroup>
        <optgroup label="Episodios">
         {% for item in vepisodenotselect %}
             <option value="{{item.asset.asset_id}}"  tag="{{item.asset.asset_id}}">{{ item.asset.asset_id }} - {{ item.original_title }}  - Temp. {{ item.season }} - Cap. {{ item.charper }} </option>

        {% endfor %}
        </optgroup>
        </select>
    </div>

    <div class="col-xs-2">
        <button type="button" id="search_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
        <button type="button" id="search_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button type="button" id="search_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button type="button" id="search_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
    </div>

    <div class="col-xs-5">
        <select name="to[]" id="search_to" class="form-control searchmultiple" size="20" multiple="multiple">
        <optgroup label="Chicas">
         {% for item in vgirlselect %}
             <option value="{{item.asset.asset_id}}"  tag="{{item.asset.asset_id}}">{{ item.name }}</option>
         {% endfor %}
        </optgroup>

        <optgroup label="Movies">
         {% for item in vmovieselect %}
             <option value="{{item.asset.asset_id}}"  tag="{{item.asset.asset_id}}">{{ item.original_title }}</option>
         {% endfor %}
        </optgroup>
        <optgroup label="Series">
         {% for item in vserieselect %}
             <option value="{{item.asset.asset_id}}"  tag="{{item.asset.asset_id}}">{{ item.original_title }}</option>

         {% endfor %}
        </optgroup>
        <optgroup label="Episodios">
         {% for item in vepisodeselect %}
            <option value="{{item.asset.asset_id}}"  tag="{{item.asset.asset_id}}">{{ item.asset.asset_id }} - {{ item.original_title }}  - Temp. {{ item.season }} - Cap. {{ item.charper }} </option>
         {% endfor %}
        </optgroup>

        </select>
    </div>
</div>




            <!-- Last Row : Buttons -->
            <div class="row form-row">

                 <div class="col-xs-offset-2 col-xs-4 col-md-4 col-lg-4 ">
                    <button class="btn btn-primary btn-block form-control" type="submit" id="sendBut">Grabar y Publicar</button>
                </div>

            </div>
            </form>

        </div>

{% endblock content %}
