{% extends "cawas/base.html" %}
{% block extra_head %}
    <script src="/static/js/fatherasset.js"></script>
{% endblock %}

{% block subheader %}
<div class="col-xs-12 col-md-12 col-lg-12 unpad">
    <div class="subHeader">
        <div class="notifications">
            {% if user.is_authenticated %}
                  <a href="{% url 'menu_view' %}"><span class="glyphicon glyphicon-home GLY-med">
                               </span> &nbsp;Inicio / </a>
                  <a href="{% url 'list_fatherassets' %}">FatherAsset</a>
                  <button class="btn btn-lg btn-primary btn-block logOFF" type="button" id="exitBtn" data-toggle="modal" data-target="#myModal">LOG-OUT</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock subheader %}

{% block content %}


 <!-- hidden form -->
<div class="container" >

     <div class="row">
               <!-- left col -->
               <div class="col-xs-12 col-md-6 col-lg-6 sepTOP-big">
                   <div class="col-xs-12 col-md-12 col-lg-12">
                    <h2>Editar FatherAsset</h2>
                   </div>
               </div>
      </div>

        <!-- Form manda imagenes y vars en un JSON hecho string -->
        <form method="post" action="" name="contrato-completeForm"  class="content-picker movieChoose" id="contratoForm">
            <input type="hidden" class="form-control" name="codigo" id="codigo" value="{{item.id}}"/>
            <div class="col-xs-12 col-md-8 col-lg-8 form-group">
                    <div class="form-group has-feedback">
                        <label class="label-left" for="asset_id">AssetID: *</label>
                        <input type="text" class="form-control" name="asset_id" id="asset_id" value="{{item.asset_id}}">
                            <span class="glyphicon form-control-feedback"></span>
                    </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                    <div class="form-group has-feedback">

                        <label class="label-left" for="contracts">Contract: *</label>
                        <!-- ------------------Reemplazar por listado de movies ----------------- -->
                        <select id="contracts" name="contracts" class="form-control" size="6">
                            <option value="" > </option>
                            {% for c in contracts %}
                                {% if c.id == item.contract.id %}
                                    <option value="{{ c.id }}" selected>{{ c.name }} </option>
                                    {% else %}
                                    <option value="{{ c.id }}">{{ c.name }} </option>

                                {% endif%}
                            {% endfor %}
                        </select>
                       <!-- ---------------------- Fin de  listado de movies ------------------- -->
                    </div>
            </div>

              <div class="col-xs-12 col-md-3 col-lg-3 form-group inlang">
                   <div class="form-group has-feedback">
                        <div class="helpright">
                        <span class="glyphicon glyphicon-question-sign"
                                 data-toggle="tooltip" title=""></span></div>
                        <label class="label-left" for="arrival_date">Arrival Date:</label>
                        <input type="text" class="form-control datePick" name="arrival_date" id="arrival_date" value="{{ item.arrival_date|date:'d-m-Y' }}">
                        <span class="glyphicon form-control-feedback"></span>
                   </div>
               </div>


              <div class="col-xs-12 col-md-4 col-lg-4 form-group">
                    <div class="form-group has-feedback">
                        <label class="label-left" for="duration">Duration (Minutos): *</label>
                        <input type="number" min="000" max="999" class="form-control" name="duration" id="duration" data="{{item.duration}}" autofocus>
                        <span class="glyphicon form-control-feedback"></span>
                    </div>
               </div>

        </form>
</div>


<div class="row">
    <div class="col-xs-offset-4 col-xs-12 col-md-4 col-lg-4 ">
        <button class="btn btn-primary btn-block form-control" type="submit" id="btn_actualizar">Grabar</button>
    </div>
</div>

{% endblock content %}