
{% extends "cawas/base.html" %}
{% block extra_head %}
    <script src="/static/js/movie.js"></script>
{% endblock %}

{% block subheader %}
<div class="col-xs-12 col-md-12 col-lg-12 unpad">
    <div class="subHeader">
        <div class="notifications">
            {% if user.is_authenticated %}
                  <a href="{% url 'menu_view' %}"><span class="glyphicon glyphicon-home GLY-med">
                               </span> &nbsp;Inicio / </a>
                  <a href="{% url 'list_movies' %}">Movies</a>
                  <button class="btn btn-lg btn-primary btn-block logOFF" type="button" id="exitBtn" data-toggle="modal" data-target="#myModal">LOG-OUT</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock subheader %}

{% block content %}
<!-- hidden form -->
<div class="container">

      <div class="row">
           <!-- left col -->
           <div class="col-xs-12 col-md-6 col-lg-6 sepTOP-big">
                <h1>Editar MOVIE</h1>
                <div>
                    <h3>Edita los campos necesarios y presiona el botón EDITAR</h3>
                </div>
                <div class="col-xs-4 col-md-3 col-lg-3">
                    <a href="/movies/list" class="btn btn-primary btn-block form-control" >Cancelar</a>
                </div>
           </div>

            <div class="col-xs-12 col-md-6 col-lg-6">
               <div id="repro1">
                   <video width="400" controls class="fRIGHT">
                      <source src="http://cdnlevel3.zolechamedia.net/{{asset_id}}/mp4/1200/{{asset_id}}.mp4" type=video/mp4 id="videomp4">
                   </video>
               </div>
            </div>
      </div>
                <!-- 1 Row : Title -->
                <div class="row form-row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="orginalTitle" id="idTit" >ID: {{asset_id}}</label>
                            <input type="hidden" name="movieID" id="movieID" value="{{asset_id}}">
                        </div>
                        <div class="form-group has-feedback" id="oriTit-container">
                            <label class="label-left" for="orginalTitle">Título original: *</label>
                            <input type="text" class="form-control" name="orginalTitle" id="orginalTitle" autofocus
                                value="{{vmovie.original_title}}">
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                </div>




                <div class="row form-row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="form-group has-feedback">
                            <label class="label-left" for="fatherasset">FatherAsset: *</label>
                                <!--------------------Reemplazar por listado de series ----------------- -->
                                <select type="text" id="fatherasset" name="fatherasset" class="form-control movie-edit" size="6">
                                     {% for item in fatherassets %}
                                        {% if vmovie.father_asset.id == item.id %}
                                            <option value="{{ item.id }}" selected> {{item.asset_id}} - {{ item.contract.name }} - {{ item.arrival_date|date:'d/m/Y' }}</option>
                                        {% else %}
                                            <option value="{{ item.id }}"> {{item.asset_id}} - {{ item.contract.name }} - {{ item.arrival_date|date:'d/m/Y' }}</option>
                                        {% endif %}
                                     {% endfor %}
                                </select>
                                <!------------------------ Fin de  listado de series ------------------- -->
                        </div>
                    </div>
                </div>




                <!-- Form manda imagenes y vars en un JSON hecho string -->
                <form method="post" action="" name="movie-completeForm"  class="content-picker movieChoose" id="movieForm" enctype="multipart/form-data">

                <!-- 2 Row : Images -->
                <div class="row form-row">
                    <div class="col-xs-4 col-md-4 col-lg-4 form-group">
                       <div class="form-group has-feedback imgUpload">
                            <label class="label-left" for="ThumbHor" id="ThumbHorTit">Asociar imagen landscape: *</label>
                            <input type="hidden" id="imgantlandscape" value="{{vmovie.image.landscape.name}}" disabled></input>
                            <input type="file" class="form-control" name="ThumbHor" id="ThumbHor" accept="image/*"
                                value="{{ vmovie.image.landscape.name }}">
                            <span class="glyphicon form-control-feedback"></span>
                            <img id="imageH" src="{{ imgland }}"/>
                        </div>
                    </div>

                    <div class="col-xs-4 col-md-4 col-lg-4 form-group" >
                       <div class="form-group has-feedback imgUpload">
                            <label for="ThumbVer" id="ThumbVerTit">Asociar imagen portrait: *</label>
                            <input type="hidden" id="imgantportrait" value="{{vmovie.image.portrait.name}}" disabled></input>
                            <input type="file" class="form-control" name="ThumbVer" id="ThumbVer" accept="image/*"
                                value="{{ vmovie.image.portrait.name }}">

                            <span class="glyphicon form-control-feedback"></span>
                            <img id="imageV" src="{{ imgport }}"/>

                        </div>
                    </div>

                    <div class="col-xs-4 col-md-4 col-lg-4">
                    </div>
                </div>



               </form>



<!-- Seleccion de categoria -->
<div class="row">

    <div class="col-xs-5">
    <label>Chicas</label>
        <select name="from[]" id="search_girls" class="form-control searchmultiple" size="10" multiple="multiple">

            <optgroup label="Chicas">
             {% for item in vgirlnotselected %}
                 <option value="{{item.id}}">{{item.name}} </option>
             {% endfor %}
            </optgroup>

        </select>
    </div>

    <div class="col-xs-2">
        <button type="button" id="search_girls_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
        <button type="button" id="search_girls_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button type="button" id="search_girls_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button type="button" id="search_girls_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
    </div>

    <div class="col-xs-5">
    <label>Chicas</label>
        <select name="to[]" id="search_girls_to" class="form-control searchmultiple" size="10" multiple="multiple">
         <optgroup label="Chicas">
            {% for item in vgirlselected %}
                 <option value="{{item.id}}">{{item.name}} </option>
         {% endfor %}

        </select>
    </div>
</div>
<br>
<br>


<div class="row">
    <div class="col-xs-5">
    <label>Categorias</label>
        <select name="from[]" id="search_category" class="form-control searchmultiple" size="10" multiple="multiple">

            <optgroup label="Categorias">
              {% for item in vcategorynotselected %}
                 <option value="{{item.id}}">{{item.original_name}} </option>
             {% endfor %}
            </optgroup>

        </select>
    </div>

    <div class="col-xs-2">
        <button type="button" id="search_category_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
        <button type="button" id="search_category_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button type="button" id="search_category_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button type="button" id="search_category_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
    </div>

    <div class="col-xs-5">
    <label>Categorias</label>

        <select name="to[]" id="search_category_to" class="form-control searchmultiple" size="10" multiple="multiple">
         <optgroup label="Categorias">
            {% for item in vcategoryselected %}
                 <option value="{{item.id}}">{{item.original_name}}</option>
            {% endfor %}
         </optgroup>
        </select>
    </div>
</div>


<!-- Seleccion de  Paises -->
<br>
<br>
<div class="row">
    <div class="col-xs-5">
    <label>Pais A donde Aplicar el Contenido</label>
        <select name="from[]" id="search_paises" class="form-control searchmultiple" size="10" multiple="multiple">

            <optgroup label="Paises">
             {% for item in countries_notselected %}
                 <option value="{{item.id}}">{{item.name}} </option>
             {% endfor %}
            </optgroup>

        </select>
    </div>

    <div class="col-xs-2">
        <button type="button" id="search_paises_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
        <button type="button" id="search_paises_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button type="button" id="search_paises_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button type="button" id="search_paises_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
    </div>

    <div class="col-xs-5">
    <label>Paises Seleccionados</label>
        <select name="to[]" id="search_paises_to" class="form-control searchmultiple" size="10" multiple="multiple">
         <optgroup label="Paises">
            {% for item in countries_selected %}
                 <option value="{{item.id}}">{{item.name}}</option>
            {% endfor %}
         </optgroup>


        </select>
    </div>
</div>
<!-- Fin de seleccion de Paises -->







            <!-- 5 Row : Canal pick -->
                <div class="row form-row">
                    <div class="col-xs-12 col-md-4 col-lg-4 form-group">
                        <div class="form-group has-feedback" id="channelSelect">
                            <label class="label-left" for="canal">Canal: </label>
                            <div class="helpright"><span
                                    class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                         title="Selecciona el canal al que pertenece esta movie (ej: Venus)">

                            </span>
                            </div>

                            <!-- ------------------Reemplazar por listado de canales ----------------- -->

                            <select type="text" class="form-control" name="canal" id="canalSelect" placeholder="Elige un canal">
                                {% for item in channels %}
                                    {% if vmovie.channel_id == item.id %}
                                        <option value="{{item.id}}" selected>{{item.name}}</option>
                                    {% else %}
                                        <option value="{{item.id}}">{{item.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>

                           <!-- ------------------  Fin de listado de canales  ----------------- -->
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4 col-lg-4 form-group">
                        <div class="form-group has-feedback">
                            <label class="label-left" for="releaseYear">Año de estreno (AAAA): </label>
                            <input type="number" class="form-control" name="releaseYear" id="releaseYear" min="1890" max="2300"
                                   value="{{ vmovie.year }}"  oninput="maxLengthCheck(this)" >
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4 col-lg-4 form-group">
                        <div class="form-group has-feedback">
                            <label class="label-left" for="releaseYear">Display runtime (HH:mm:ss): *</label>
                            <input type="text" class="form-control" name="runtime" id="runtime" data-mask="00:00:00" autofocus
                                value="{{vmovie.display_runtime}}">

                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>

                </div>

                <!-- 7 Row : Director pick -->
                <div class="row form-row">
                    <div class="col-xs-12 col-md-12 col-lg-12 form-group">
                        <div class="form-group has-feedback">
                            <label class="label-left" for="director">Director: </label>
                            <input type="text" class="form-control" name="director" id="director"
                                   value="{{ vmovie.directors }}" autofocus>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <!-- 8 Row : Elenco -->
                <div class="row form-row">
                    <div class="col-xs-12 col-md-12 col-lg-12 form-group">
                        <div class="form-group has-feedback">
                            <label class="label-left" for="elenco">Elenco: </label>
                            <div class="helpright"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Agregar los nombres del elenco completo separados por comas.La lista NO debe terminar con una coma"></span></div>
                            <div class="itaright">(Nombres separados por comas). </div>
                            <input type="text" class="form-control" name="elenco" id="elenco" value="{{ vmovie.cast }}" autofocus>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                </div>





                <!--  9 : Idioma -->
                <div class="row form-row">
                    <div class="col-xs-12 col-md-3 col-lg-3 form-group">
                        <div class="form-group has-feedback" id="lang-container">
                            <div id="pickLang">
                                <label class="label-left" for="idioms">Elija idioma: (al menos uno)*</label>
                            </div>
                            <span class="glyphicon form-control-feedback"></span>
                            <div class="form-group has-feedback">
                                {% for item in vlangmetadata %}
                                    {% if item.checked == True %}
                                         <input type="checkbox" checked name="idioma" value="{{item.code}}" id="{{item.code}}"
                                               class="chkbx" disabled> {{item.name}}<br>
                                    {% else %}
                                        <input type="checkbox"  name="idioma" value="{{item.code}}" id="{{item.code}}"
                                               class="chkbx" > {{item.name}}<br>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>



                <!-- LANGUAGE modules -->
               {% for item in vlangmetadata %}
               {% if item.checked == True %}
                     <div class="row form-row" id="Module_{{item.code}}">
               {% else %}
                     <div class="row form-row hid" id="Module_{{item.code}}">
               {% endif %}
                    <div class="col-xs-12 col-md-12 col-lg-12 form-group">
                        <h2>{{ item.name }}</h2>
                           <div class="col-xs-12 col-md-12 col-lg-12 form-group inlang">
                               <div class="form-group has-feedback">
                                <label class="label-left" for="tit_{{item.code}}">Título: *</label>
                                <input type="text" class="form-control" name="tit_{{item.code}}" id="tit_{{item.code}}"
                                       value="{{ item.title }}">
                                <span class="glyphicon form-control-feedback"></span>
                               </div>
                           </div>

                           <div class="col-xs-12 col-md-12 col-lg-12 form-group inlang">
                               <div class="form-group has-feedback">
                                    <div class="helpright"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                    title="La descripción para los thumbnails mostrará los primeros 50 caracteres. Al ingresar en la movie se verá completa."></span></div>
                                    <label class="label-left" for="short_desc_{{item.code }}">Descripción: *</label>
                                    <textarea  class="form-control" name="short_desc_{{item.code}}" id="short_desc_{{item.code}}"
                                    value="{{item.summary_long}}">{{item.summary_long}}</textarea>
                                    <span class="glyphicon form-control-feedback"></span>
                               </div>
                           </div>

                           <div class="col-xs-12 col-md-12 col-lg-12 form-group inlang">
                               <div class="form-group has-feedback">
                                    <div class="helpright"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Al ingresar una fecha, el sistema publicará la movie en español en esa fecha."></span></div>
                                    <label class="label-left" for="date_{{item.code}}">Fecha de Publicación</label>
                                    <input type="text" class="form-control datePick"
                                           name="date_{{item.code}}" id="date_{{item.code}}"
                                           value="{{ item.publish_date|date:'d-m-Y' }}">
                                    <span class="glyphicon form-control-feedback"></span>
                               </div>
                           </div>

                    </div>
                </div>
                {% endfor %}



                <!-- Last Row : Buttons -->
                <div class="row form-row">


                    <div class="col-xs-offset-2 col-xs-4 col-md-4 col-lg-4 ">
                        <button class="btn btn-primary btn-block form-control" type="submit" id="btn_grabar">Grabar</button>
                    </div>


                       <div class="col-xs-4 col-md-4 col-lg-4">
                        <button class="btn btn-primary btn-block form-control" type="submit" id="sendBut">Grabar y Publicar</button>
                    </div>
                </div>

        </div>
{% endblock content %}
