{% extends "cawas/base.html" %}

{% block extra_head %}
    <script src="/static/js/movie.js"></script>
{% endblock %}

{% block subheader %}
<div class="col-xs-12 col-md-12 col-lg-12 unpad">
    <div class="subHeader">
        <div class="notifications">
            {% if user.is_authenticated %}
                  <a href="{% url 'menu_view' %}"><span class="glyphicon glyphicon-home GLY-med">
                               </span> &nbsp;Inicio</a>
                 <button class="btn btn-lg btn-primary btn-block logOFF" type="button" id="exitBtn" data-toggle="modal" data-target="#myModal">LOG-OUT</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock subheader %}

{% block content %}
<!-- CONTENT -->



        <div class="container">
            <!-- First Row -->
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                       <h2>Listado de Movies </h2>

                  </div>
              </div>

            <div class="row">
                  <br>
                 <div class="col-lg-2 col-md-2 col-sm-2" >
                     <a href="/movies/add" class="btn btn-lg btn-primary btn-block logOFF" >Nuevo</a>
                 </div>

                 <div class="col-lg-8 col-md-8 col-sm-8" ></div>

            </div>

            <!-- GRID row -->
            <div class="row">

                <table class="" id="example">
                    <thead>
                        <th class="tb-cell">ID</th>
                        <th class="tb-cell">Título</th>
                        <th class="tb-cell">Idioma</th>
                        <th class="tb-cell">Estado</th>
                        <th class="tb-cell">Activado</th>
                        <th class="tb-cell">En Cola de Pub.</th>
                        <th class="tb-cell">Fec. Publicación</th>
                        <th class="tb-cell">Acciones</th>
                        {% if usuario.is_superuser == true %}
                            <th class="tb-cell"></th>
                        {% endif %}
                        <th class="tb-cell"></th>
                    </thead>

                     {% for item in registros %}
                         <tr class="tb-row">

                            <td class="tb-cell">{{ item.movie.asset.asset_id}}</td>
                            <td class="tb-cell">{{ item.title }}</td>
                            <td class="tb-cell">{{ item.language.name }}</td>
                            {% if item.publish_status == 0  %}
                                <td class="tb-cell">Sin Publicar</td>
                            {% else %}
                                <td class="tb-cell">Publicado</td>
                            {% endif %}

                             {% if item.activated == 0  %}
                                <td class="tb-cell">NO</td>
                            {% else %}
                                <td class="tb-cell">SI</td>
                            {% endif %}

                            <td class="tb-cell">
                                {% if item.queue_status == 'Q'  %}
                                    Queued
                                {% elif item.queue_status == 'D' %}
                                    Done
                                {% elif item.queue_status == 'E' %}
                                    Error
                                {% endif %}
                            </td>

                            <td class="tb-cell">{{ item.publish_date|date:'d-m-Y' }}</td>

                            <td class="tb-cell"><a href="/movies/edit/{{ item.movie.asset.asset_id}}" class="btn-info btn tb-btn" >Editar</a></td>
                            {% if usuario.is_superuser == true %}
                                <td class="tb-cell"><a href="/movies/delete/{{ item.id}}/" class="btn-danger btn tb-btn eliminar">Borrar</a></td>
                            {% endif %}

                            {% if item.activated == 0  %}
                                 <td class="tb-cell"><a href="/movies/publish/{{ item.id}}" class="btn-success btn tb-btn publicar">Publicar</a></td>
                                 {% else %}
                                 <td class="tb-cell"><a href="/movies/unpublish/{{ item.id}}" class="btn-warning btn tb-btn desactivar">Desactivar</a></td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                   <!-- Third Row -->

                </table>
            </div>

            <div class="fNONE"></div>
        </div>
{% endblock content %}
