{% load staticfiles %}

<html lang='es'>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>HotGo Backend</title>
        <!-- CSS files -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
       <link rel="stylesheet" href="{% static 'css/bootstrap-hotGo.css' %}">
        <link rel="stylesheet" href="{% static 'css/dcalendar.picker.css' %}">
        <link rel="stylesheet" href="{% static 'css/duration-picker.css' %}">
        <link rel="stylesheet" href="{% static 'css/select2.css' %}">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- Javascript -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery-sortable.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/dcalendar.picker.js' %}"></script>
        <script src="{% static 'js/select2.min.js' %}"></script>
        <script src="{% static 'js/duration-picker.min.js' %}"></script>
        <script src="{% static 'js/jquery.mask.js' %}"></script>


        <script src="{% static 'js/multiselect.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




        <link rel="stylesheet" type="text/css" href="{% static 'css/datatable.css' %}"/>
        <script src="{% static 'js/datatables.min.js' %}"></script>
       <!--
       <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>

       -->
        {% block extra_head %}


        {% endblock %}


<style>
.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    border-radius: 10px;
}
.success {
    padding: 10px;
    background-color: #5F9EA0;
    color: white;
    border-radius: 10px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
</style>


     <script>
        /*---------------------------------------
        REEMPLAZAR EL VALOR DE ESTA VARIABLE PARA
        DAR UN STATUS AL USUARIO LUEGO DEL POST
        ---------------------------------------*/

        var resultado = ""; // cambiar por "error" si hubo algún problema o por "success" en caso de éxito


         //year check
        function maxLengthCheck(object)
          {
            if (object.value.length > 4)
              object.value = object.value.slice(0, 4)
          }

    </script>
    </head>
    <body>


<div id="msgconfirm" hidden title="Atención"><p></p></div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmar salida</h4>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea salir de esta aplicación?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="getOut">Si, deseo salir</button>
      </div>
    </div>
  </div>
</div>







<!-- Modal 2-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">ERROR</h4>
      </div>
      <div class="modal-body">
        ¡Atención! El formulario no está completo, revise los campos marcados en rojo y vuelva a intentarlo.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal 2 end -->

<!-- Modal 3-->
<div class="modal fade" id="myModal-OK" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Información.</h4>
      </div>
      <div class="modal-body">
        {{ message }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>



        <!-- HEADER -->
        <div class="container-fluid unpad">
              <div class="row unpad">
                <div class="col-xs-12 col-md-12 col-lg-12 unpad">
                    <div class="topHeader">
                        <div class="logo-img">
                            <img src="{% static 'images/logo_hotgo.png' %}">
                        </div>
                    </div>
                </div>



                {% block subheader %}

                {% endblock %}

              {% if message %}
              <div class="col-xs-12 col-md-12 col-lg-12 unpad">
                    <div class="notifications">
                      <div class="{{flag}}">
                          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                          {{ message }}
                      </div>
                 </div>
              </div>
              {% endif %}

              <div class="row">
              <div id="message" style="display:none">
                  <div class="col-xs-12 col-md-12 col-lg-12 unpad">
                    <div class="notifications">
                      <div id="message_class" class="alert alert-success">
                          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                          <div id="message_content">asdfasdf</div>
                      </div>
                    </div>
                  </div>
              </div>
              </div>


        </div>
        <!-- HEADER END -->



        {% block content %}{% endblock %}

        <!-- CONTENT END -->
        <footer>
            Copyright 2017 ITCorp.
        </footer>



    </body>
</html>