{% load staticfiles %}

<html lang='es'>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>HotGo Backend</title>
        <!-- CSS files -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-hotGo.css' %}">
        <link rel="stylesheet" href="{% static 'css/dcalendar.picker.css' %}">
        <link rel="stylesheet" href="{% static 'css/duration-picker.css' %}">
        <link rel="stylesheet" href="{% static 'css/select2.css' %}">


        <!-- Javascript -->

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery-sortable.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/dcalendar.picker.js' %}"></script>
        <script src="{% static 'js/select2.min.js' %}"></script>
        <script src="{% static 'js/duration-picker.min.js' %}"></script>

        {% block extra_head %}
        {% endblock %}
        <!--/Javascript

        <script src="{% static 'js/series.js' %}"></script>
        <script src="{% static 'js/series.js' %}"></script>
        <script src="{% static 'js/bloques.js' %}"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        -->


         <script>
            /*---------------------------------------
            REEMPLAZAR EL VALOR DE ESTA VARIABLE PARA
            DAR UN STATUS AL USUARIO LUEGO DEL POST
            ---------------------------------------*/

            var resultado = ""; // cambiar por "error" si hubo algún problema o por "success" en caso de éxito


             //year check
            function maxLengthCheck(object)
              {
                if (object.value.length > 4)
                  object.value = object.value.slice(0, 4)
              }
        </script>


        {% block mensajes %}
        <script>
            resultado = "{{flag}}";
        </script>
        {% endblock %}

    </head>
    <body>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmar salida</h4>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea salir de esta aplicación?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="getOut">Si, deseo salir</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->

<!-- Modal 2-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">ERROR</h4>
      </div>
      <div class="modal-body">
        ¡Atención! El formulario no está completo, revise los campos marcados en rojo y vuelva a intentarlo.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal 2 end -->

<!-- Modal 3-->
<div class="modal fade" id="myModal-OK" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Registrado exitosamente</h4>
      </div>
      <div class="modal-body">
        Todos los datos han sido grabados. Puede continuar con la carga de otras movies.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4-->
<div class="modal fade" id="myModal-ERROR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">¡Hubo un error!<span class="glyphicon glyphicon-warning-sign GLY-med"></span></h4>
      </div>
      <div class="modal-body">
        Póngase en contacto con IT para solucionar el problema.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal 4 end -->

        <!-- HEADER -->
        <div class="container-fluid unpad">
              <div class="row unpad">
                <div class="col-xs-12 col-md-12 col-lg-12 unpad">
                    <div class="topHeader">
                        <div class="logo-img">
                            <img src="{% static 'images/logo_hotgo.png' %}">
                        </div>
                    </div>
                </div>
                {% block subheader %}

                {% endblock %}

              </div>
        </div>
        <!-- HEADER END -->



        {% block content %}{% endblock %}

        <!-- CONTENT END -->
        <footer>
            Copyright 2017 ITCorp.
        </footer>



    </body>
</html>