{% extends "cawas/base.html" %}

{% block extra_head %}
    <script src="/static/js/categorias.js"></script>
{% endblock %}

{% block subheader %}
<div class="col-xs-12 col-md-12 col-lg-12 unpad">
    <div class="subHeader">
        <div class="notifications">
            {% if user.is_authenticated %}
                  <a href="{% url 'menu_view' %}"><span class="glyphicon glyphicon-home GLY-med">
                               </span> Inicio</a>
                 <button class="btn btn-lg btn-primary btn-block logOFF" type="button" id="exitBtn" data-toggle="modal" data-target="#myModal">LOG-OUT</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock subheader %}

{% block content %}
<!-- CONTENT -->
        <div class="container">
            <!-- First Row -->
            <br>
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                       <h2>Listado de Categorias </h2>
                  </div>
              </div>


            <!-- GRID row -->
             <div class="row">

                 <div class="col-lg-2 col-md-2 col-sm-2" >
                     <a href="/categories/add" class="btn btn-lg btn-primary btn-block logOFF" >Nuevo</a>
                 </div>

            </div>
            <br>
            <tr class="row">

                <table class="" id="example">
                    <thead>
                    <tr>
                        <th class="tb-cell">ID</th>
                        <th class="tb-cell">Nombre</th>
                        <th class="tb-cell">Idioma</th>
                        <th class="tb-cell">Estado</th>
                        <th class="tb-cell">Activado</th>
                        <th class="tb-cell">En Cola de Pub.</th>
                        <th class="tb-cell">Fec. Publicación</th>
                        <th class="tb-cell">Acciones</th>
                        {% if usuario.is_superuser == true %}
                            <th class="tb-cell"></th>
                        {% endif %}
                        <th class="tb-cell"></th>
                    </tr>
                    </thead>
                    <tbody>

                     {% for item in registros %}
                       <tr>

                        <td id="{{ item.category.category_id}}" value="{{ item.category.category_id}}"> {{ item.category.category_id }} </td>

                            <td   >{{ item.category.original_name }}</td>
                            <td >{{ item.language.name }}</td>

                            {% if item.publish_status == 0  %}
                                <td >Sin Publicar</td>
                            {% else %}
                                <td >Publicado</td>
                            {% endif %}

                            {% if item.activated == 0  %}
                                <td >NO</td>
                            {% else %}
                                <td >SI</td>
                            {% endif %}

                            <td >
                                {% if item.queue_status == 'Q'  %}
                                    Queued
                                {% elif item.queue_status == 'D' %}
                                    Done
                                {% elif item.queue_status == 'E' %}
                                    Error
                                {% endif %}
                            </td>

                            <td >{{ item.publish_date|date:'d-m-Y' }}</td>

                            <td ><a href="/categories/edit/{{ item.category.category_id}}" class="btn-info btn tb-btn" >Editar</a></td>
                            {% if usuario.is_superuser == true %}
                                <td ><a href="/categories/delete/{{ item.category.category_id }}" class="btn-danger btn tb-btn">Borrar</a></td>
                            {% endif %}

                            {% if item.activated == 0  %}
                                <td >
                                    <a href="/categories/publish/{{ item.id}}" class="btn-success btn tb-btn publicar">Publicar</a>
                                    <a href="/categories/unpublish/{{ item.id}}"class="btn-danger btn tb-btn eliminar">Eliminar</a>
                                </td>
                            {% else %}
                                <td ><a href="/categories/unpublish/{{ item.id}}" class="btn-warning btn tb-btn despublicar">Despublicar</a></td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- Third Row -->
                 <div class="row">
                  <div class="col-lg-10 col-md-10 col-sm-10" >

                  </div>

                </div>
            </div>
            <!-- end of GRID row -->

            <div class="fNONE"></div>
        </div>
{% endblock content %}
